<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Register</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="my-card">

						<!-- content of th:classappend get appended to the content of class -->
						<!-- this loop will excecute only 
							if session.setAttribute("message", new Message("Registration Successful !!!", "alert-success")); line executes in controller -->
						<!-- ${session.message.type} will return content of type variable of message class -->
						<div th:if="${session.message}"
							th:classappend="${session.message.type}"
							class="alert text-center">
							<p th:text="${session.message.message}" />
							<!-- to remove message after display -->
							<th:block th:text="${#session.removeAttribute('message')}"></th:block>

						</div>

						<h1 class="text-center">Register Here</h1>
						<form novalidate action="" th:action="@{/do_register}"
							method="post" th:object="${user}">

							<!-- Field for Name -->
							<!-- to keep data as it is after submission (th:value="${user.name}") -->

							<div class="form-group mt-3">
								<label for="exampleInputEmail1">Name</label> <input type="text"
									class="form-control" id="exampleInputEmail1" name="name"
									th:classappend="${#fields.hasErrors('name')?'is-invalid':''}"
									aria-describedby="emailHelp" placeholder="Enter Name"
									th:value="${user.name}">


								<div th:each="e:${#fields.errors('name')}" th:text="${e}"
									id="validationServerUsernameFeedback" class="invalid-feedback">

								</div>
							</div>
							<!-- Field for Email -->
							<!-- to keep data as it is after submission (th:value="${user.email}") -->
							<div class="form-group mt-3">
								<label for="exampleInputEmail1">Email address</label> <input
									type="email" class="form-control" id="exampleInputEmail1"
									name="email" aria-describedby="emailHelp"
									th:classappend="${#fields.hasErrors('email')?'is-invalid':''}"
									placeholder="Enter email" th:value="${user.email}"
									required="required">

								<div th:each="e:${#fields.errors('email')}" th:text="${e}"
									id="validationServerUsernameFeedback" class="invalid-feedback">

								</div>

							</div>

							<!-- Field For Password -->
							<!-- to keep data as it is after submission (th:value="${user.password}") -->
							<div class="form-group mt-3">
								<label for="exampleInputPassword1">Password</label> <input
									type="password" class="form-control" id="exampleInputPassword1"
									name="password" placeholder="Password"
									th:classappend="${#fields.hasErrors('password')?'is-invalid':''}"
									th:value="${user.password}" required="required">

								<div th:each="e:${#fields.errors('password')}" th:text="${e}"
									id="validationServerUsernameFeedback" class="invalid-feedback">

								</div>
							</div>
							<!-- Field For confirm Password -->
							<div class="form-group mt-3">
								<label for="Confirm-InputPassword1">Confirm-Password</label> <input
									type="password" class="form-control"
									id="Confirm-InputPassword1" placeholder="Confirm-Password">
							</div>

							<div class="form-group mt-3">
								<lable for="about">About</lable>
								<textarea id="about" rows="8" cols="110"
									placeholder="Enter Something About Your Self"
									class="form-control" name="descriptionn"></textarea>
							</div>

							<div class="form-group">
								Terms And Conditions: <input type="checkbox"
									class="form-check-input" id="exampleCheck1" name="agreement">
								<label class="form-check-label" for="exampleCheck1">Agree</label>

							</div>


							<div class="container mt-4 text-center">
								<button type="submit" class="btn btn-primary btn-lg">submit</button>
								<button type="reset" class="btn btn-warning btn-lg">Reset</button>
							</div>



						</form>


					</div>
				</div>


			</div>

		</div>

	</section>
</body>
</html>