<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>about</title>
</head>
<body>
	<section>

		<div class="card mr-3 ml-3">

			<div class="card-body">
				<h1>Contacts</h1>

				<div class="search-container">
					<input onkeyup="search()" id="search-input" type="text"
						class="form-control" placeholder="Search Your Contacts here" />

					<div class="search-result">

						<!-- div to show search result -->
					</div>

				</div>
				<br>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">img</th>
								<th scope="col">Name</th>
								<th scope="col">Mobile No.</th>
								<th scope="col">EmailID</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="c:${contacts}">
								<th scope="row" th:text="${'SCMUSER'+c.contactid}">1</th>
								<td><img class="my_profile_picture"
									th:src="@{'/image/'+${c.photourl}}" alt="no img" src="#">
								<td><a
									th:href="@{'/user/contact_Details/'+${c.contactid}}"> <span
										th:text="${c.name}"></span>
								</a></td>
								<td th:text="${c.mobileno}">Error</td>
								<td th:text="${c.email}">Error</td>
								<td>
									<!-- th:href="@{'/user/delete/'+${c.contactid}}" --> <a
									th:onclick="|delete_Contact(${c.contactid})|"
									class="btn btn-danger btn-sm">Delete</a>

									<form method="post"
										th:action="@{'/user/update-form/'+${c.contactid}}">
										<button type="submit" class="btn btn-success btn-sm mt-1">Update</button>

									</form>
								</td>
							</tr>

						</tbody>

					</table>
				</div>

				<!-- pagination part implementation-->
				<nav aria-label="Page navigation example">
					<ul class="pagination">

				<!-- th:if="${currentPage != 0}": to implement display and hide functionality of previous button
  					 th:href="@{'/user/showContacts/'+${currentPage-1}}":to implement previous page func. -->

						<li th:if="${currentPage != 0}" class="page-item"><a
							class="page-link"
							th:href="@{'/user/showContacts/'+${currentPage-1}}" href="#">Previous</a>
						</li>


						<li th:classappend="${currentPage==i-1?'active':''}"
							th:each="i:${#numbers.sequence(1,totalPages)}" class="page-item">
							<a class="page-link" th:href="@{'/user/showContacts/'+${i-1}}"
							href="#"><span th:text="${i}"></span></a>
						</li>

						<!--  th:if="${currentPage+1 != totalPages}" : to implement display and hide functionality of next button
  							  th:href="@{'/user/showContacts/'+${currentPage+1}}":to implement next page func. -->

						<li th:if="${currentPage+1 != totalPages}" class="page-item">
							<a class="page-link"
							th:href="@{'/user/showContacts/'+${currentPage+1}}" href="#">Next</a>
						</li>

					</ul>
				</nav>
			</div>
		</div>
		<script>
            $(document).ready(() => {
                $(".item").removeClass("active");
                $("#viewContact-link").addClass("active");
            });
        </script>
	</section>
</body>
</html>