<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>about</title>
</head>
<body>
	<section>
		<div class="card mr-2">
			<div class="card-body">
				<h1 class="text-center">Add Contact</h1>
				<div class="container-fluid mt-1">
					<div class="row">
						<div class="col-md-10 offset-md-1">
							<form action="#" th:object="${contact}"
								enctype="multipart/form-data" method="POST"
								th:action="@{/user/process-contact}" class="mt-2">

								<!-- first Name -->
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
											<i class="fa fa-plus mt-1" style="height: 20px;"></i>
										</div>
									</div>
									<input type="text" class="form-control" name="name"
										id="firstName" placeholder="Username" required>
								</div>

								<!-- Nick Name -->
								<div class="input-group mt-2">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
											<i class="fa fa-user-alt mt-1" style="height: 20px;"></i>
										</div>
									</div>
									<input type="text" class="form-control" name="nickname"
										id="nickName" placeholder="Nick Name">
								</div>

								<!-- phone -->
								<div class="input-group mt-2">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
											<i class="fa fa-phone mt-1" style="height: 20px;"></i>
										</div>
									</div>
									<input type="text" class="form-control" name="mobileno"
										id="Mobile" placeholder="Enter Mobile Number" required
										min="10" max="12">
								</div>

								<!-- email -->
								<div class="col-auto mt-2">
									<label class="sr-only" for="inlineFormInputGroup">Username</label>
									<div class="input-group mb-2">
										<div class="input-group-prepend">
											<div class="input-group-text">@</div>
										</div>
										<input type="text" class="form-control" name="email"
											id="inlineFormInputGroup" placeholder="Enter Email ID"
											required>
									</div>
								</div>

								<!-- work Field -->
								<div class="input-group mt-2">
									<div class="input-group-prepend">
										<div class="input-group-text mr-3">
											<i class="fa fa-briefcase mt-1" style="height: 20px;"></i>
										</div>
									</div>
									<input type="text" class="form-control" name="relation"
										id="work" placeholder="work Description" required>
								</div>
								<!-- address Description -->
								<div class="form-group mt-3">
									<textarea name="address" rows="15" id="mytextarea"
										class="form-control" placeholder="Enter address"></textarea>
								</div>

								<!-- Contact image field -->
								<div class="custom-file mt-2">
									<input type="file" name="imageFile">
								</div>
								<br>
								<!-- save Button -->
								<div class="container text-center">
									<button class="btn btn-outline-primary ">Save Contact</button>
								</div>
								<br>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script
			src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"
			referrerpolicy="origin"></script>
		<script>
      tinymce.init({
        selector: '#mytextarea'
      });</script>

		<script>
            $(document).ready(() => {
                $(".item").removeClass("active");
                $("#addContacts-link").addClass("active");
            });
        </script>
	</section>
</body>
</html>