<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(content)">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
	integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
	crossorigin="anonymous" />
<title th:text="${title}">Hello, world!</title>
<link rel="stylesheet" th:href="@{/css/mystyle.css}" />


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
</head>
<body>

	<!-- start of nav bar -->

	<nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-prime">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Phone Book</a>

			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse text-right"
				id="navbarSupportedContent">
				<ul class="navbar-nav text-uppercase" style="padding-left: 920px">

					<li class="nav-item "><a class="nav-link" aria-current="page"
						th:href="@{/}" href="#">Home</a></li>



					<li class="nav-item"><a class="nav-link"
						th:text="${user.name}"></a></li>

					<li class="nav-item"><a class="nav-link" th:href="@{/logout}">LogOut</a></li>

				</ul>

			</div>
		</div>
	</nav>

	<!-- end of nav bar -->

	<!-- </div> -->

	<!-- start of sidebar -->
	<div class="sidebar mt-2">

		<span onclick="toggleSidebar()" class="crossBtn">&times;</span> <a
			id="home-link" href="#" th:href="@{/user/index}" class="item active"><i
			class="fas fa-home"></i> Home</a> <a id="viewContact-link" href="#"
			th:href="@{/user/showContacts/0}" class="item"><i
			class="fas fa-eye"></i> View Contacts</a> <a id="addContacts-link"
			href="#" th:href="@{/user/addContact}" class="item"><i
			class="fas fa-file-signature"></i> Add Contacts</a> <a id="profile-link"
			href="#" th:href="@{/user/profile}" class="item"> <i
			class="fas fa-user-circle"></i> Your Profile
		</a> <a id="settings-link" href="#" th:href="@{/user/setting}"
			class="item"><i class="fas fa-cogs"></i> Settings </a> <a href="#"
			th:href="@{/logout}" class="item"><i class="fas fa-sign-out-alt"></i>
			Logout</a>
		<div class="divider"></div>
	</div>

	<div class="content mt-5">
		<!-- success/error message box -->
		<i onclick="toggleSidebar()" class="fas fa-bars m-3"></i>

		<!-- end of sidebar -->

		<!-- to display success or error message -->
		<!-- <div th:if="${session.message}" class="container">
		<div th:classappend="${'alert-'+session.message.type}" th:class="alert text-center">
		<span th:text="${session.message.content}"></span>
		</div>
		<th:block th:text="${#session.removeAttribute('message')}"></th:block>
		</div> -->
		<div th:if="${session.message}" class="container">
			<div th:classappend="${'alert-'+session.message.type}"
				class="alert text-center ml-1" role="alert">
				<span th:text="${session.message.message}"></span>
			</div>
			<th:block th:text="${#session.removeAttribute('message')}"></th:block>
		</div>

		<div th:replace="${content}"></div>

	</div>


	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	<!-- Optional JavaScript; choose one of the two! -->

	<!-- Option 1: Bootstrap Bundle with Popper -->
	<!-- <script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
		crossorigin="anonymous"></script> -->

	<!-- Option 2: Separate Popper and Bootstrap JS -->

	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
		integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
		integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
		crossorigin="anonymous"></script>

	<!--  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript" th:src="@{/js/myjs.js}"></script> -->
	<script type="text/javascript" th:src="@{/js/myjs.js}"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<script type="text/javascript">
    function delete_Contact(contactid){
    	swal({
    		  title: "Are you sure?",
    		  text: "Do You Want to delete This Contact?",
    		  icon: "warning",
    		  buttons: true,
    		  dangerMode: true,
    		})
    		.then((willDelete) => {
    		  if (willDelete) {
window.location="/user/delete/"+contactid;
    		  } else {
    		    swal("Your Contact is safe!");
    		  }
    		});
    }
    </script>
</body>


</html>