<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Normal User</title>
</head>
<body>
	<section>
		<div class="card mr-3 ml-3">
			<div class="card-body" th:if="${contact}">
				<div class="container text-center">
					<!-- to show profile image -->
					<img style="height: 200px; width: 200px;"
						class="my_profile_picture"
						th:src="@{'/image/'+${contact.photourl}}" alt="no img" src="">
					<h3 th:text="${contact.name}"></h3>

					<!-- to diplay user details -->
					<table class="table">
						<thead>
							<tr>
								<th scope="col">#Category</th>
								<th scope="col">SCMUSER</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">email</th>
								<td th:text="${contact.nickname}">Mark</td>

							</tr>
							<tr>
								<th scope="row">Mobile</th>
								<td th:text="${contact.mobileno}"></td>

							</tr>
							<tr>
								<th scope="row">Relation</th>
								<td th:text="${contact.relation}">Larry</td>

							</tr>
							<tr>
								<!-- <th scope="row">About</th>
								<td th:text="${contact.address}"> Larry</td> -->

							</tr>
						</tbody>
					</table>
					<div class="description text-center">
						<th:block th:utext="${contact.address}">
						</th:block>
					</div>
				</div>

				<div class="container text-center">

					<a th:onclick="|delete_Contact(${contact.contactid})|"
						style="width: 50%" class="btn btn-danger btn-lg btn-block mt-2">Delete</a><br>

					<form method="post"
						th:action="@{'/user/update-form/'+${contact.contactid}}">
						<button style="width: 50%" type="submit"
							class="btn btn-success btn-lg btn-block mt-2">Update</button>

					</form>
				</div>
				<h1 class="text-center" th:unless="${contact}">You Don't have
					Permission To See This Contact</h1>
			</div>
		</div>
	</section>

</body>
</html>