<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">

<head>
<meta charset="UTF-8" />
<title>Normal User</title>
</head>

<body>
	<section>

		<div class="cotainer">
			<div class="card">
				<div class="card-body text-center">
					<img alt="Head Logo" th:src="@{/image/head_logo.png}">
					<h1
						class=" text-center text-secondary font-weight-light font-italic">
						Welcome to Phone Book</h1>
					<a style="width: 50%" href="#" th:href="@{/user/addContact}"
						class="btn btn-success btn-lg btn-block mt-2"> Start Adding
						Contacts</a>
				</div>

			</div>
		</div>
		<script>
        $(document).ready(() => {
                $(".item").removeClass("active");
                $("#home-link").addClass("active");
            }); 
        </script>
	</section>

</body>

</html>