<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>about</title>
</head>
<body>
	<section>
		<div class="container ">
			<div class="card ">

				<div class="card-body text-center">
					<img style="height: 200px; width: 200px;"
						th:src="@{/image/Contacts_logo.png}">
					<table class="table">
						<h1 th:text="${user.name}"></h1>
						<thead>
							<tr>
								<th scope="col">#Category</th>
								<th scope="col">SCMUSER</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">User</th>
								<td th:text="${user.name}">Mark</td>

							</tr>
							<tr>
								<th scope="row">Role</th>
								<td th:text="${user.role}"></td>

							</tr>
							<tr>
								<th scope="row">email</th>
								<td th:text="${user.email}">Larry</td>

							</tr>
							<tr>



								<!-- <th scope="row">About</th>
								<td th:text="${contact.address}"> Larry</td> -->

							</tr>
						</tbody>

					</table>

					<a style="width: 50%" href="#" th:href="@{/user/addContact}"
						class="btn btn-success btn-lg btn-block mt-2"> Add Contacts</a>

				</div>
			</div>
		</div>
		<script>
            $(document).ready(() => {
                $(".item").removeClass("active");
                $("#profile-link").addClass("active");
            });
        </script>
	</section>
</body>
</html>