<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">

<head>
<meta charset="UTF-8" />
<title>Normal User</title>
</head>

<body>
	<section>

		<div class="cotainer">
			<div class="card">
				<div class="card-body text-center">
					<form th:action="@{/user/change-password}" method="post">
						<input type="password" name="oldpassword"
							placeholder="Enter Old Password" class="form-control mt-3"><br>

						<input type="password" name="newPassword"
							placeholder="Enter New Password" class="form-control">


						<button type="submit" class="btn btn-primary mt-2">change</button>
						<button type="button" class="btn btn-warning mt-2">Reset</button>
					</form>
				</div>

			</div>
		</div>
		<script>
        $(document).ready(() => {
                $(".item").removeClass("active");
                $("#settings-link").addClass("active");
            }); 
        </script>
	</section>

</body>

</html>